<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCare"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DetalleHistorialCompleto"
            android:exported="false" />
        <activity
            android:name=".HistorialMedicoTodasLasMascotas"
            android:exported="false" />
        <activity
            android:name=".DetalleHistorial"
            android:exported="false" />
        <activity
            android:name=".AgregarHistorialMedico"
            android:exported="false" />
        <activity
            android:name=".EditarMedicamentos"
            android:exported="false" />
        <activity
            android:name=".EditarVacunas"
            android:exported="false" />
        <activity
            android:name=".EditarAlergias"
            android:exported="false" />
        <activity
            android:name=".EscanearCodigo"
            android:exported="false" />
        <activity
            android:name=".VistaVeterinarioEnMascotas"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".QRHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="veterinario"
                    android:pathPrefix="/mascota/"
                    android:scheme="petcare" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InformacionDeMascota"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditarMascota"
            android:exported="false" />
        <activity
            android:name=".AgregarMascota"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".InformacionDeUsuario"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".InicioDeSesion"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>